{% extends "productos/base.html" %}
{% block title %} Mi web personal {% endblock %}
{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Carlos Arroyo Díaz</h1>
<span class="subheading">Ingeniero Informático</span>
{% endblock %}

{% block content %}
<p>Dirección: Av. Principal #1234, Ciudad, País</p>
<p>Dirección: Av. Principal #1234, Ciudad, País</p>
<p>Dirección: Av. Principal #1234, Ciudad, País</p>
<p>Dirección: Av. Principal #1234, Ciudad, País</p>
<p>Dirección: Av. Principal #1234, Ciudad, País</p>
<p>Dirección: Av. Principal #1234, Ciudad, País</p>
<p>Dirección: Av. Principal #1234, Ciudad, País</p>
{% endblock %}