{% extends "productos/base.html" %}

{% block content %}

<section class="novedades">
    <h1>Novedades</h1>
    
    <!-- Mostrar la primera novedad -->
    <article class="novedad">
        <h2>{{ primer_novedad.nombre }}</h2>
        <div class="descripcion">
            <p>{{ primer_novedad.descripcion }}</p>
        </div>
        <div class="imagen">
            <img src="{{ primer_novedad.imagen.url }}" alt="{{ primer_novedad.nombre }}">
        </div>
    </article>

    <!-- Mostrar todas las demás novedades -->
    {% for novedad in todas_novedades %}
    <article class="novedad">
        <h2>{{ novedad.nombre }}</h2>
        <div class="descripcion">
            <p>{{ novedad.descripcion }}</p>
        </div>
        <div class="imagen">
            <img src="{{ novedad.imagen.url }}" alt="{{ novedad.nombre }}">
        </div>
    </article>
    {% endfor %}
</section>

{% endblock %}
